body{
    background-image: url("images/background.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.name{
    float: left;
}
img{
    border-radius: 400px;
    width:200px;
    height:200px;
    float: right;
    position: relative;
}
h2{
    color:aqua;
}

.left{
    color:white;
}
.foot{
    color: blueviolet;
}
h3{
    color: blue;;
}
#i{
    color: bisque;
}